body {
    	margin: 100px auto;
	font-family: serif;
}
h1 {
    font-size: 3em;
    font-family: 'Serif';
}
#header {
            background-color: #ccf;
            padding: 5px;
}
#nav {
        background-color: #eef;
        font-size: large;
        padding: 5px;
}
#notice { background-color: #eef; }
