body {
    margin: 20px auto;
	font-family: sans-serif;
	padding: 5px;
}
h1 {
    /*font-size: 3em;*/
    font-family: sans-serif;
    padding: 5px;
}
#header {
            background-color: #ccf;
            padding: 5px;
}
#nav {
        background-color: #eef;
        font-size: large;
        padding: 5px;
}
#notice { background-color: #eef; }
