.Introd {
  text-align: left;
}

.MyHeader {
	/* background-color: #ccf; */ 
	background-image: url(sky5.jpg);
	padding: 5px;
	color: red;
}

.Links {
	background-color: #eef;
}

.Notice {
	background-color: #eef;
}



