.Introd { text-align: left; }

.MyHeader {
	background-image: url("./Components/images/sky1.jpg");
	background-repeat: no-repeat;  
	background-size: 100% 100%;	
	padding: 5px;
	color: magenta;
}

.Links { background-color: #eef; }

.Notice { background-color: #eef;}



