/*.App {
  text-align: center;
}*/

.Introd {
  text-align: left;
}

.MyHeader {
	background-color: #ccccff;
	padding: 5px;
	/* text-align: center; */
	
}

.Links {
    /*text-align: center;*/
	background-color: #eeeeff;
}

.Notice {
	background-color: #eeeeff;
}

